# Ignoruj wszystko domyślnie
/*

# ODBLOKUJ Twoje foldery i pliki
!wiatrak_cpp/
!gui/
!.gitignore
!README.md

# ZABLOKUJ śmieci wewnątrz Twoich folderów (bardzo ważne!)
wiatrak_cpp/build/
gui/build/
gui/dist/
**/__pycache__/
**/*.spec
